<div class="engr-jumbotron engr-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>List of Clubs You Manage</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <table class="table table-hover table-striped table-responsive">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @clubs.each do |club| %>
        <tr>
          <td><%= club.name %></td>
          <td><%= club.email %></td>
          <td><%= club.website %></td>
          <td><%= link_to 'Show', club %></td>
          <td><%= link_to 'Edit', edit_club_path(club) %></td>
          <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Create New Club', new_club_path, :class => 'btn btn-primary' %>
  </div>
</div>



