<%= form_for @user, :html => { :class => 'form' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, :class => 'form-control ' %>
  </div>
  <% if create || current_user.site_admin %>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form-control', :value => @user.password %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'Reenter Password' %>
      <%= f.password_field :password_confirmation, :class => 'form-control', :value => @user.password %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'form-control'  %>
  </div>
  <% if current_user.site_admin %>
    <div class="form-group">
      <%= f.label :site_admin, 'Site Admin?' %>
      <%= f.check_box :site_admin, :class => 'form-control' %>
    </div>
  <% end %>
  <div class="form-group <% if !create && !current_user.site_admin %>hidden<% end %>">
    <%= f.label :club_ids, 'Clubs You Manage' %>
    <%= f.collection_check_boxes(:club_ids, Club.all, :id, :name)  do |b|
          b.label(class: 'checkbox') { b.check_box(class: "checkbox") + b.text }
        end %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
<br>

