<div class="engr-jumbotron engr-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Logged In</h1>
        <p>
          You are now able to edit your club's contents.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @user.username %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <%= link_to 'Edit Your Information', edit_user_path(@user), :class => 'btn btn-primary' %>
  <%= link_to 'View Clubs You Manage', clubs_path, :class => 'btn btn-primary' %>
</div>
