<div class="engr-jumbotron engr-jumbotron-list">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>List of groups</h1>
        <p>
          Every engineering student organization across disciplines and activies.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="engr-group-list">
  <div class="container">
    <div class="row">

      <!-- Group filters -->
      <div class="col-md-3">
        <section class="engr-group-list-filter">
          <h5>Filter by Major</h5>
          <ul class="nav nav-pills nav-stacked">
            <% @majors.each do |m| %>
              <li><%= link_to m.name, "#", :id => m.name %></li>
            <% end %>
          </ul>
        </section>

        <section class="engr-group-list-filter">
          <h5>Filter by Type</h5>
          <ul class="nav nav-pills nav-stacked">
            <% @club_types.each do |t| %>
              <li><%= link_to t.name, "#", :id => t.name %></li>
            <% end %>
          </ul>
        </section>
      </div>

      <!-- Table of groups -->
      <div class="col-md-9">
        <table class="table table-hover table-striped table-responsive">
          <thead>
          <tr>
            <th>Organization</th>
            <th>Majors</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
            <% @clubs.each do |c| %>
            <tr>
              <td><%= link_to c.name, show_club_path(c.id) %></td>
              <td>
                <% c.majors.each do |m| %>
                  <%= m.name %><br>
                <% end%>
              </td>
              <td>
                <% c.club_types.each do |t| %>
                  <%= t.name %><br>
                <% end%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">

  var searchtext = "";
  var search;

  $(".nav-pills > li > a").click(function(event){
    event.preventDefault();
    var id = $(this).attr("id");
    var parent = $(this).parent();
    if (!parent.hasClass("active"))
    {
      searchtext += ":contains('"+id+"')";
      $(this).parent().addClass("active");
    }
    else
    {
      $(this).parent().removeClass("active");
      var re = new RegExp(":contains\\(\\'"+id+"\\'\\)");
      searchtext = searchtext.replace(re, "");
    }

    $(".success").removeClass("success");
    if (searchtext != "")
      $("tr"+searchtext).addClass("success");
  });


</script>